h1 {
  color: black;
  font-size: 55px;
    font-weight: bold;
}

h2 {
  color: #ff0056;
    font-size: 55px;
    font-weight: bold;
}

p {
  color: #c4c0c0;
    font-size: 25px;
}



html {
  font-size: 10px; /* px bedeutet 'pixels': die Schriftgröße wird auf 10 Pixel gesetzt  */
  font-family: Raleway; /* hier kommt der Name der ausgewählten Schriftfamilie hin */
    line-height: 0.1;
}